.text-center {
  text-align: center;
}

.main {
  min-height: calc(100vh - var(--header-height) - 84px);
}

/* Tags */
.terms-tags {
  margin: 0 -10px;
}

.terms-tags.top-tags {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.breadcrumbs {
  margin-bottom: 10px;
}

/* Post */
.post-title {
  margin-bottom: 10px;
  font-size: 36px;
}

.post-meta {
  margin-top: 5px;
}

.post-content h2 {
  font-size: 30px;
}

.post-content h3 {
  font-size: 24px;
}

.post-content h4 {
  font-size: 18px;
}

.post-content figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-content figure > img {
  margin-bottom: 0.5rem;
}

.post-content figure > figcaption {
  font-size: 15px;
  font-weight: 500;
  color: var(--secondary);
}

.post-content .highlight:not(table) {
  margin: 10px auto 20px auto;
}

.post-content ol,
.post-content ul {
  padding-inline-start: 35px;
}

.post-content a {
  color: #0969da;
  box-shadow: none;
  transition: 0.3s;
}

.post-content a:hover {
  color: #2082f6;
  text-decoration: underline;
}

.post-content .highlight pre {
  display: block !important;
}

.post-content ol,
.post-content ul {
  padding-inline-start: 25px;
}

.post-footer {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .post-title {
    font-size: 30px;
  }
}

/* Table of content */
.toc {
  display: none;
}

.toc .toc-header {
  margin-left: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  text-transform: uppercase;
}

.toc ul {
  list-style-type: none;
  margin: 0 20px;
}

.toc ul li {
  font-size: 16px;
  line-height: 1.4;
  padding: 5px 0;
}

.toc ul li a {
  display: inline-block;
  position: relative;
  transition: 0.25s;
  padding-left: 8px;
  border-left: 3px solid transparent;
}

.toc ul li a:hover,
.toc ul li a:focus {
  box-shadow: none;
  border-color: #727272;
}

@media (min-width: 1400px) {
  .toc {
    display: block;
    padding: 20px 0;
    width: 300px;
    position: fixed;
    right: calc(50vw - var(--main-width) / 2 - var(--gap) * 2 - 300px);
  }
}

/* Paginav */
.paginav span:hover:not(.title) {
  box-shadow: none;
}

/* Footer */
.footer {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer a {
  border-bottom: 0;
}

.footer > a {
  box-shadow: 0 1px;
}

.footer a:hover {
  border-bottom: none;
}

.footer .social-icons a:not(:last-of-type) {
  margin-inline-end: 15px;
}

.footer .social-icons svg {
  width: 20px;
  height: 20px;
  vertical-align: text-top;
}

/* Gallery */
.gallery,
.gallery-sm {
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(var(--gap) / 2 * -1);
}

.gallery .gallery-card {
  width: calc(100% / 3);
  padding: calc(var(--gap) / 2);
}

.gallery-sm .gallery-sm-card {
  width: 20%;
  padding: calc(var(--gap) / 2);
}

@media (max-width: 768px) {
  .gallery .gallery-card {
    width: 50%;
  }
  .gallery-sm .gallery-sm-card {
    width: 25%;
  }
}

@media (max-width: 576px) {
  .gallery .gallery-card {
    width: 100%;
  }
  .gallery-sm .gallery-sm-card {
    width: 50%;
  }
}

.card {
  border: 1px solid #ddd;
  transition: 0.3s;
}

.card:hover,
.gallery-sm .card:hover {
  border: 1px solid #999;
}

.card img {
  width: 100%;
  margin: 0;
  border-radius: 0;
}

.card .card-title,
.card .card-text {
  font-weight: normal;
  text-align: center;
  padding: 0 5px;
  margin: 16px 0;
}

.gallery-sm .card {
  border: 1px solid transparent;
}

.gallery-sm .card .card-title {
  font-size: 20px;
}

/* Shopee widget */
.shopee-widget .item {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.shopee-widget input {
  width: calc(320px - var(--gap) * 2);
  padding: 4px 12px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  transition: 0.3s;
}

.shopee-widget input:hover,
.shopee-widget input:focus {
  border-color: #b7b7b7;
}

.shopee-widget button {
  appearance: button;
  padding: 4px 16px;
  color: #333333;
  font-weight: 500;
  background-color: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  margin-left: 10px;
}

.shopee-widget button:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

#shopee-short-link {
  font-weight: bold;
}

@media (max-width: 500px) {
  .shopee-widget .item {
    justify-content: center;
  }

  .shopee-widget input {
    width: 100%;
  }

  .shopee-widget button {
    margin-left: 0;
    margin-top: 10px;
  }
}
