.terms-tags {
  margin: 0 -10px;
}

.terms-tags.top-tags {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.breadcrumbs {
  margin-bottom: 10px;
}

.post-meta {
  margin-top: 5px;
}

.post-content figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-content figure > img {
  margin-bottom: 0.5rem;
}

.post-content figure > figcaption {
  font-size: 15px;
  font-weight: 500;
  color: var(--secondary);
}

.post-content .highlight:not(table) {
  margin: 10px auto 20px auto;
}

.post-content ol,
.post-content ul {
  padding-inline-start: 35px;
}

.paginav span:hover:not(.title) {
  box-shadow: none;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  text-decoration: none;
  border-bottom: 0;
}

.footer .social-icons svg {
  width: 15px;
  height: 15px;
  vertical-align: sub;
}
