/* Heading */
h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

/* Tags */
.terms-tags {
  margin: 0 -10px;
}

.terms-tags.top-tags {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.breadcrumbs {
  margin-bottom: 10px;
}

/* Post */
.post-meta {
  margin-top: 5px;
}

.post-content figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-content figure > img {
  margin-bottom: 0.5rem;
}

.post-content figure > figcaption {
  font-size: 15px;
  font-weight: 500;
  color: var(--secondary);
}

.post-content .highlight:not(table) {
  margin: 10px auto 20px auto;
}

.post-content ol,
.post-content ul {
  padding-inline-start: 35px;
}

.post-content .highlight pre {
  display: block !important;
}

/* Paginav */
.paginav span:hover:not(.title) {
  box-shadow: none;
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  text-decoration: none;
  border-bottom: 0;
}

.footer a:hover {
  border-bottom: none;
}

.footer .social-icons svg {
  width: 18px;
  height: 18px;
  vertical-align: text-top;
}

/* Gallery */
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

.gallery .gallery-card {
  width: calc(100% / 3);
  padding: 1rem;
}

@media (max-width: 768px) {
  .gallery .gallery-card {
    width: 50%;
  }
}

@media (max-width: 576px) {
  .gallery .gallery-card {
    width: 100%;
  }
}

.card {
  border: 1px solid #ccc;
  transition: 0.3s;
}

.card:hover {
  border: 1px solid #777;
}

.card img {
  width: 100%;
  margin: 0;
  border-radius: 0;
}

.card .card-title,
.card .card-text {
  font-weight: normal;
  text-align: center;
  padding: 0 5px;
}
