<div class="shopee-widget">
  <div class="item">
    <input id="shopee-origin-link" type="text" placeholder="Nhập link sản phẩm" />
    <button onclick="generateShortLink()">Lấy link ủng hộ</button>
  </div>

  <div id="shopee-short-link"></div>
</div>

<script>
  async function generateShortLink() {
    const originUrl = document.getElementById("shopee-origin-link").value;
    if (!originUrl || !originUrl.startsWith("https://")) {
      alert("Đường dẫn không hợp lệ!");
      return;
    }

    const response = await fetch("https://shortlink-erzoowobja-df.a.run.app", {
      method: "POST",
      headers: {"Content-Type": "application/json"},
      body: JSON.stringify({
        originUrl,
      }),
    });

    const data = await response.json();
    const shortLink = data?.generateShortLink?.shortLink || "";
    const shortLinkElement = document.getElementById("shopee-short-link");
    shortLinkElement.innerHTML = `=&gt; <a href="${shortLink}" target="_blank" rel="nofollow">${shortLink}</a>`;
  }
</script>
