<!-- Disqus comment -->
<!-- <div id="disqus_thread"></div>
<script type="text/javascript">
  (function () {
    // Don't ever inject Disqus on localhost--it creates unwanted
    // discussions from 'localhost:1313' on your Disqus account...
    if (window.location.hostname == "localhost") return;

    var dsq = document.createElement("script");
    dsq.type = "text/javascript";
    dsq.async = true;
    dsq.src = "//huydq-dev.disqus.com/embed.js";
    (
      document.getElementsByTagName("head")[0] ||
      document.getElementsByTagName("body")[0]
    ).appendChild(dsq);
  })();
</script>
<noscript
  >Please enable JavaScript to view the
  <a href="https://disqus.com/?ref_noscript"
    >comments powered by Disqus.</a
  ></noscript
> -->

<!-- Github comment -->
<!-- <script
  src="https://utteranc.es/client.js"
  repo="robinhuy/robinhuy.github.io"
  issue-term="pathname"
  label="comment"
  theme="preferred-color-scheme"
  crossorigin="anonymous"
  async
></script> -->

<!-- Facebook comment -->
<div
  class="fb-comments"
  data-width="100%"
  data-numposts="5"
  data-lazy="true"
  data-order-by="time"
></div>

<!-- <script>
  document.write(
    '<div class="fb-comments" data-href="' +
      window.location.href +
      '" data-width="100%" data-numposts="5" data-lazy="true" data-order-by="time" ></div>'
  );
</script> -->
